<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SEO HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/home.css">
            <link rel="stylesheet" href="assets/css/header.css">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/nina-talks/nina-talks.png"
                    srcset="assets/img/nina-talks/nina-talks@2x.png 2x,
                    assets/img/nina-talks/nina-talks@3x.png 3x"
                    class="NinaTalks" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/"><img src="assets/img/nina-talks/nina-talks.png"
                                    srcset="assets/img/nina-talks/nina-talks@2x.png 2x,
                                    assets/img/nina-talks/nina-talks@3x.png 3x"
                                    class="NinaTalks"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">    
                                        <li><a href="/"> Home</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/elements">Freebies</a></li>
                                        <li><a href="/contact">Contato</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="container">
                <div class="slider-active">
                    <div class="single-slider slider-height d-flex align-items-center">
                        <div class="container">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-7 col-md-9 ">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInLeft" data-delay=".6s">Um canal para entusiastas e apaixonados por design e tecnologia!</h1>
                                        <!-- Hero-btn -->
                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                            <a href="industries.html" class="btn hero-btn">Acessar agora!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                        <img src="assets/img/home/inicial.png"
                                        srcset="assets/img/home/inicial@2x.png 2x,
                                        assets/img/home/inicials@3x.png 3x" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
       
        <!-- Quem é Nina Start -->
        <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Quem é Nina?</h3>
                            <p>Karina Tronkos (também conhecida como Nina) tem 23 anos, é estudante de computação e trabalha como UX Designer na Globo.
                                Ganhou 4 anos seguidos o Scholarship da Apple, por conta de seus projetos que unem design e tecnologia. 
                                Entusiasta e apaixonada por esse universo de tech e design, possui um projeto no Instagram chamado @nina_talks para compartilhar e tudo que a empolga e inspira nesse universo!</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="col-lg-6 col-md-12 ml-200">
                            <div class="we-create-img">
                                <img src="assets/img/home/WWDC.png"
                                srcset="assets/img/home/WWDC@2x.png 2x,
                                assets/img/home/WWDC@3x.png 3x" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="we-create-img">
                                <img src="assets/img/home/infititeLoop.png"
                                srcset="assets/img/home/infititeLoop@2x.png 2x,
                                assets/img/home/infititeLoop@3x.png 3x" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quem é Nina End -->        
         <!-- Conteudo -->
         <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="conteudo-img">
                            <img src="assets/img/home/conteudo.png"
                                srcset="assets/img/home/conteudo@2x.png 2x,
                                assets/img/home/conteudo@3x.png 3x" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Conteúdo</h3>
                            <p>O perfil fala e ensina a respeito de design e tecnologia de forma descomplicada, divertida e autêntica, mostrando o dia-a-dia de alguém que trabalha com desenvolvimento de produtos digitais.
                                O Nina Talks é referência no ramo e inspiração para quem quer seguir nas áreas de tecnologia e design!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Conteudo End -->        
        <!-- Depoimentos Start -->
        <div class="we-create-area create-padding">
            <div class="container">
                <h3>Depoimentos</h3>
                <div class="row depoimentos">
                    <div class="col-depoimentos">
                        <div class="balaoDepoimento">
                            <div class="aspas">
                                <img src="assets/img/home/aspas.png"
                                    srcset="assets/img/home/aspas@2x.png 2x,
                                    assets/img/home/aspas@3x.png 3x" alt="">
                            </div>
                            <div class="margin-baloes-1-3">
                                <depoimentos-p-1>“Nina, eu consegui a vaga! Estou extasiado, ainda sem acreditar! Como você fez parte disso, eu quero te agradecer demais! Você é incrivelmente especial na vidas pessoas, sem exageros!!!</depoimentos-p-1>
                            </div>
                        </div>
                    </div>
                    <div class="col-depoimentos-2">
                        <div class="balaoDepoimento">
                            <div class="aspas">
                                <img src="assets/img/home/aspas.png"
                                    srcset="assets/img/home/aspas@2x.png 2x,
                                    assets/img/home/aspas@3x.png 3x" alt="">
                            </div>
                            <div class="margin-balao-2">
                                <depoimentos-p-1>Eu simplesmente amei todo o esforço que você está fazendo de trazer conteúdo de UI/ UX, tecnologia e principalmente encorajar as mulheres e nos mostrar que somos capazes!</depoimentos-p-1>
                            </div>
                        </div>
                    </div>
                    <div class="col-depoimentos-3">
                        <div class="balaoDepoimento">
                            <div class="aspas">
                                <img src="assets/img/home/aspas.png"
                                    srcset="assets/img/home/aspas@2x.png 2x,
                                    assets/img/home/aspas@3x.png 3x" alt="">
                            </div>
                            <div class="margin-baloes-1-3">
                                <depoimentos-p-1>Eu já amava design e depois que eu comecei a te acompnhar eu surtei de emoção! É incrível saber que existem pessoas como você, tão aberta e carinhosa e tão disposta a conversar e ensinar!</depoimentos-p-1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Depoimentos End -->      
        <!-- Palestras e eventos Start -->
        <div class="palestras-eventos-area tips-padding">
            <div class="container">
                <h3>Palestras e Eventos</h3>
                <div class="row palestras-eventos-fotos">
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra1.png"
                                srcset="assets/img/palestras-e-eventos/palestra1@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra1@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra2.png"
                                srcset="assets/img/palestras-e-eventos/palestra2@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra2@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra3.png"
                                srcset="assets/img/palestras-e-eventos/palestra3@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra3@3x.png 3x" alt="">
                    </div>
                    <div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra4.png"
                                srcset="assets/img/palestras-e-eventos/palestra4@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra4@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra5.png"
                                srcset="assets/img/palestras-e-eventos/palestra5@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra5@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra6.png"
                                srcset="assets/img/palestras-e-eventos/palestra6@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra6@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra7.png"
                                srcset="assets/img/palestras-e-eventos/palestra7@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra7@3x.png 3x" alt="">
					</div>
					<div class="col-palestras-eventos-4">
						<img src="assets/img/palestras-e-eventos/palestra8.png"
                                srcset="assets/img/palestras-e-eventos/palestra8@2x.png 2x,
                                assets/img/palestras-e-eventos/palestra8@3x.png 3x" alt="">
					</div>
                </div>
            </div>
        </div>
        <!-- Palestras e eventos End -->
        
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Entre em contato</h2>
                            </div>
                            <div class="col-lg-8">
                                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Mensagem"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <button type="submit" class="button button-contactForm boxed-btn">Enviar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-3">
                                <div class= "ContatoImagem">
                                    <img src="assets/img/contato/contato.png"
                                    srcset="assets/img/contato/contato@2x.png 2x,
                                    assets/img/contato/contato@3x.png 3x" alt="">
                                </class>
                            </div>
                     </div>
                </div>
            </div>
                    
         </section>

        </main>

<!-- ================ contact section end ================= -->
       <!-- Footer Start-->
    <footer>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                            <div class="container">
                                <div class="footer-logo">
                                    <a href="/"><img src="assets/img/nina-talks/nina-talks.png"
                                    srcset="assets/img/nina-talks/nina-talks@2x.png 2x,
                                    assets/img/nina-talks/nina-talks@3x.png 3x"
                                    class="NinaTalks" alt=""></a>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>